<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<div class="container">
  <div class="jumbotron">

    <h1>New Playlist</h1>

    <%= form_for(@playlist) do |f| %>
    <%= f.text_field :name %>

    <% Song.all.each do |song| -%>
    <div>
      <%= check_box_tag(:song_ids, song.id, false, :name => "playlist[song_ids][]", id: "song-#{song.id}") %>
      <%= song.title %>
    </div>
    <% end %>

    <%= f.submit %>
    <% end %>

  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
